# virtual environments
.venv

# data files
*.gz
*.gz*
*.fasta
*.fa
*.faa
*.fna
*.csv
datasets
ProtDiffusion/dataset/grouped_data

# cache files
*__pycache__

# output files
*/protein-VAE*
output
*.csv
IDA_IDs.txt
VAE_temp
tempmodels
*.txt